@import 'variables.scss';

.btn {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent !important;
  border-radius: 3px !important;
  height: 34px !important;
  min-width: 120px !important;
  padding: 0 16px !important;
  font-size: 14px !important;
  text-align: center;
}

.btn-primary {
  color: #fff !important;
  background-color: $button-main-color !important;
  border-color: $button-border-color!important;
}

.btn-primary-disabled {
  background-color: $button-main-disabled-color!important;
  color: #fff !important;
  border-color: $button-border-color !important;
}

.btn-secondary {
  color: #000 !important;
  background-color: $button-secondary-color !important;
}

.btn-secondary-disabled {
  background-color: $button-secondary-disabled-color !important;
  color: #000 !important;
}

.btn-add{
  color: $app-green !important;
}

.btn-red{
  color: $app-red !important;
}

