@import 'variables.scss';
@import 'button.scss';
@import 'menu.scss';
@import 'tabs.scss';
@import 'input.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  height: 100%;
  width: 100%;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h4 {
  font-weight: bold;
  font-size: 16px;
}

.title-text {
  color: black !important;
}

.header-app {
  background: $color-secondary-1-1;
  height: $header-height;
  color: #000 !important;
  //width: $header-width;
  //padding: 1px 5px;
}

.main-container {
  padding: 4px;
  width: calc(100% - (#{$menu-width}));
  max-width: 1240px;
  height: calc(100% - #{$header-height});
  // min-height: 150px;
  left: $menu-width - 16;
  position: fixed;
  margin: 0 2px 0 2px;
  align-items: center;
  overflow: auto;
}

.panel-container {
  padding: 8px;
  background: $color-primary-1;
}

.project-container {
  padding: 8px;
  min-height: 150px;
}

