@import 'variables.scss';

.menu-app {
    width: $menu-width;
    background: $color-primary-0;
    height: $menu-height;
    position: fixed;
}

.menu-button {
    color: $color-secondary-2-4!important;
    width: $menu-width;
}

.menu-button.active {
    background-color: $color-secondary-2-0 !important;
    border-radius: 0 !important;
    border-left: 5px solid $color-secondary-2-0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: $color-secondary-2-4 !important;
}

.menu-button .item:hover {
    background-color: $button-hover-color !important;
    color: #fff;
}
