@import 'variables.scss';

.tab-app {
  width: $tab-width;
}

.tab-button {
  color: $color-secondary-2-4!important;
  background: #fff;
  //border-top : 2px solid $button-main-color !important;
  //border-left : 2px solid $button-main-color !important;
  //border-right : 2px solid $button-main-color !important;
  //border-top-right-radius: 5px !important;
  //border-top-left-radius: 5px !important;
}
