// COLORS
// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=31g0u0k75Ha2HWh4LPIa5w-eaqY */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #FFF2C7;	// Main Primary color */
$color-primary-1: #FFFAEA;
$color-primary-2: #FFF7D9;
$color-primary-3: #FFEDAF;
$color-primary-4: #D7C278;

$color-secondary-1-0: #B7A2CC;	// Main Secondary color (1) */
$color-secondary-1-1: #E9E0F3;
$color-secondary-1-2: #D2C3E2;
$color-secondary-1-3: #947BAE;
$color-secondary-1-4: #735691;

$color-secondary-2-0: #9FB3C8;	// Main Secondary color (2) */
$color-secondary-2-1: #DFE8F2;
$color-secondary-2-2: #C1D0E0;
$color-secondary-2-3: #778EA8;
$color-secondary-2-4: #536E8C;

$app-green: #1CAC8C;
$app-red: #FF2929;



// As RGBa codes */

$rgba-primary-0: rgba(255,242,199,1);	// Main Primary color */
$rgba-primary-1: rgba(255,250,234,1);
$rgba-primary-2: rgba(255,247,217,1);
$rgba-primary-3: rgba(255,237,175,1);
$rgba-primary-4: rgba(215,194,120,1);

$rgba-secondary-1-0: rgba(183,162,204,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(233,224,243,1);
$rgba-secondary-1-2: rgba(210,195,226,1);
$rgba-secondary-1-3: rgba(148,123,174,1);
$rgba-secondary-1-4: rgba(115, 86,145,1);

$rgba-secondary-2-0: rgba(159,179,200,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(223,232,242,1);
$rgba-secondary-2-2: rgba(193,208,224,1);
$rgba-secondary-2-3: rgba(119,142,168,1);
$rgba-secondary-2-4: rgba( 83,110,140,1);



// Generated by Paletton.com © 2002-2014 */
// http://paletton.com */


//--BUTTONS
$button-main-color:#337ab7;
$button-main-disabled-color:#94b2d6;

$button-secondary-color:#eee;
$button-secondary-disabled-color:#fff;

$button-border-color: #2e6da4;

$button-active-color:#0e3970;
$button-hover-color:#1c4c8a;



// DIMENSIONS
$header-height : 80px;
$header-width : 100%;

$menu-width: 200px;
$menu-height:100%;

$tab-width:100%;
$tab-height:80px;
