.btn {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent !important;
  border-radius: 3px !important;
  height: 34px !important;
  min-width: 120px !important;
  padding: 0 16px !important;
  font-size: 14px !important;
  text-align: center; }

.btn-primary {
  color: #fff !important;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important; }

.btn-primary-disabled {
  background-color: #94b2d6 !important;
  color: #fff !important;
  border-color: #2e6da4 !important; }

.btn-secondary {
  color: #000 !important;
  background-color: #eee !important; }

.btn-secondary-disabled {
  background-color: #fff !important;
  color: #000 !important; }

.btn-add {
  color: #1CAC8C !important; }

.btn-red {
  color: #FF2929 !important; }
