.btn {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent !important;
  border-radius: 3px !important;
  height: 34px !important;
  min-width: 120px !important;
  padding: 0 16px !important;
  font-size: 14px !important;
  text-align: center; }

.btn-primary {
  color: #fff !important;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important; }

.btn-primary-disabled {
  background-color: #94b2d6 !important;
  color: #fff !important;
  border-color: #2e6da4 !important; }

.btn-secondary {
  color: #000 !important;
  background-color: #eee !important; }

.btn-secondary-disabled {
  background-color: #fff !important;
  color: #000 !important; }

.btn-add {
  color: #1CAC8C !important; }

.btn-red {
  color: #FF2929 !important; }

.menu-app {
  width: 200px;
  background: #FFF2C7;
  height: 100%;
  position: fixed; }

.menu-button {
  color: #536E8C !important;
  width: 200px; }

.menu-button.active {
  background-color: #9FB3C8 !important;
  border-radius: 0 !important;
  border-left: 5px solid #9FB3C8 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #536E8C !important; }

.menu-button .item:hover {
  background-color: #1c4c8a !important;
  color: #fff; }

.tab-app {
  width: 100%; }

.tab-button {
  color: #536E8C !important;
  background: #fff; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  height: 100%;
  width: 100%; }

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

h4 {
  font-weight: bold;
  font-size: 16px; }

.title-text {
  color: black !important; }

.header-app {
  background: #E9E0F3;
  height: 80px;
  color: #000 !important; }

.main-container {
  padding: 4px;
  width: calc(100% - (200px));
  max-width: 1240px;
  height: calc(100% - 80px);
  left: 184px;
  position: fixed;
  margin: 0 2px 0 2px;
  align-items: center;
  overflow: auto; }

.panel-container {
  padding: 8px;
  background: #FFFAEA; }

.project-container {
  padding: 8px;
  min-height: 150px; }
