.menu-app {
  width: 200px;
  background: #FFF2C7;
  height: 100%;
  position: fixed; }

.menu-button {
  color: #536E8C !important;
  width: 200px; }

.menu-button.active {
  background-color: #9FB3C8 !important;
  border-radius: 0 !important;
  border-left: 5px solid #9FB3C8 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #536E8C !important; }

.menu-button .item:hover {
  background-color: #1c4c8a !important;
  color: #fff; }
